<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cadastro de Clientes Tria Software</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <div class="img" id="logo_tria">
                    <img src="~/Content/logotipo-triasoftware.png" alt="Tria Software" />
                </div>
                <div class="box">
                    <h1>Cadastro de Clientes</h1> 
                </div>                              
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                    <li>@Html.ActionLink("ProdServs", "Index", "ProdServs")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>